:root {
    --black: #000000;
    --gris: #C1C0C0;
    --blanc: #ffffff;
    --blanc-leger: #ececec;
    --beige: #eae2da;
    --vert-principale: #626B20;
    --vert-secondaire: #98A632;
    --bleu: #2F5952;
    --marron: #BF8C2C;
    --orange-principale: #D96636;
    --orange-secondaire-1: #D96F32;
    --orange-secondaire-2: #F28B30;

    --bg-bouton: rgba(217, 217, 217, 0.73);

    --jaune-etoile: #FEC201;
    --gris-etoile: #808080;

    --gradient-vert: linear-gradient(119.86deg, var(--bleu) 13.56%, var(--vert-principale) 59.07%, var(--vert-secondaire) 90.93%);
    --gradient-orange: linear-gradient(119.86deg, var(--orange-principale) 10%, var(--orange-secondaire-1) 23%, var(--orange-secondaire-2) 90.93%);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--blanc-leger);
    background: var(--beige);
    margin: 0;
    padding: 0;
}

a {
    color: var(--blanc-leger);
}

.bouton {
    background-color: var(--blanc-leger);
    color: var(--vert-principale);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.bouton:hover {
    background-color: var(--vert-principale);
    color: var(--blanc-leger);
    border-radius: 5px;
}


.fond-blocs {
    background: var(--gradient-vert);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black);
}


table {
    width: 100%;
    margin: 10px 0;
    border-collapse: separate;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--gris);
    border-radius: 5px;
    font-weight: 600;
}

/* Liste */

ul {
    margin-left: 5em;
}

.li-hotel {
    list-style-image: url(../../Images/Icones/hotel.png);
}

.li-mer {
    list-style-image: url(../../Images/Icones/mer.png);
}

.li-main {
    list-style-image: url(../../Images/Icones/chaleureux.png);
}

.li-dej {
    list-style-image: url(../../Images/Icones/petit_dej.png);
}

.rating {
    color: var(--jaune-etoile);
}

.review {
    background: var(--blanc-leger);
    color: var(--black);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: var(--vert-secondaire);
    color: var(--blanc);
    text-align: center;
    padding: 10px;
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 5px; /* Espace entre les deux blocs */
}

.info-blocks {
    flex: 1; /* Permet à chaque bloc de prendre un espace égal */
    background-color: var(--blanc-leger);
    padding: 10px;
    border-radius: 8px;
}