@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --noir: rgba(0, 0, 0, 1);
    --blanc: rgba(255, 255, 255, 1);
    --blanc-leger: rgba(236, 236, 236, 1);
    --beige: rgba(234, 226, 218, 1);
    --bleu: rgba(47, 89, 82, 1);
    --vert-principale: rgba(98, 107, 32, 1);
    --vert-secondaire: rgba(152, 166, 50, 1);
    --marron: rgba(191, 140, 44, 1);
    --orange-principale: rgba(217, 102, 54, 1);
    --orange-secondaire-1: rgba(217, 111, 50, 1);
    --orange-secondaire-2: rgba(242, 139, 48, 1);
    --fond-bouton: rgba(217, 217, 217, 0.73);
  
    --mobile-star-size: 30px;
    --like-size: 35px;
  
    --jaune-etoile: rgba(254, 194, 1, 1);
    --gris-etoile: rgba(128, 128, 128, 1);
    --gris: rgba(193, 192, 192, 1);
    --gradient-vert: linear-gradient(0.45turn, rgba(47, 89, 82, 1) 14%, rgba(98, 107, 32, 1) 59%, rgba(152, 166, 50, 1) 100%);
    --gradient-orange: linear-gradient(0.25turn, var(--orange-principale) 10%, var(--orange-secondaire-1) 23%, var(--orange-secondaire-2) 90.93%);
  }
  


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--noir);
    background: var(--gradient-vert);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--noir);
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--noir);
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--noir);
}

.preview-Offre {
    width: 380px;
    height: 506px;
    border: 1px solid var(--blanc);
    border-radius: 10px;
}

.preview-Offre div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: #ff6f00;
}


.preview-Offre img {
    width: 100%;
    height: auto;
    display: block;
}


.preview-Offre div:last-child {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
}

.preview-Offre div:last-child p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.preview-Offre div:last-child h3 {
    font-size: 18px;
    color: #ff6f00;
    margin: 0;
}