/************************
       GENERALISATION
*************************/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--noir);
    background: var(--blanc-leger);

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--bold);
    color: var(--noir);
    margin: 0.5em 0.2em;
    text-align: center;
    font-size: 30pt;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--medium);
    font-size: 23pt;
    color: var(--noir);
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--medium);
    font-size: 20pt;
    color: var(--noir);
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 1em;
    width: 60%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/********************
        NAV
*********************/
nav {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 1em;
    background-color: var(--orange-principale);
    border-radius: 15px;
    width: 15em;
    height: 100vh;
    margin-right: 1em;
}

nav a {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;
    justify-content: center;

    text-align: center;
    background-color: var(--blanc-leger);
    color: var(--orange-principale);  
    margin: 1em 0.5em 1em;
    padding: 0.5em 1em;
    border: 2px solid var(--orange-principale);
    border-radius: 15px;
    height: 3em;
}

nav a:last-child {
    margin-top: auto;
}

nav a:hover {
    color: var(--blanc-leger);
    background-color: var(--orange-principale);
    border: 2px solid var(--blanc-leger);
}

.ici {
    font-weight: bold;
}

/********************
       FACTURES
*********************/
section {
    background-color: var(--blanc);
    border-radius: 15px;
    padding: 0 1em 1em;
    width: 90%;
}

p {
    text-align: left;
    border-bottom: var(--noir) solid 1px;
    border-spacing: 0.5em;
    margin-bottom: 1.5em;
}

ul {
    inline-size: 90%;
}

.image-facture {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.5s ease-out;
}

.image-facture.hidden {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}