.factures {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--noir);
    background: var(--blanc-leger);

}

.factures main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 1em;
    width: 60%;
}

/********************
        NAV
*********************/
.factures nav {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 1em;
    background-color: var(--orange-principale);
    border-radius: 15px;
    width: 15em;
    height: 100vh;
    margin-right: 1em;
}

.factures nav a {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;
    justify-content: center;

    text-align: center;
    background-color: var(--blanc-leger);
    color: var(--orange-principale);  
    margin: 1em 0.5em 1em;
    padding: 0.5em 1em;
    border: 2px solid var(--orange-principale);
    border-radius: 15px;
    height: 3em;
}

.factures nav a:last-child {
    margin-top: auto;
}

.factures nav a:hover {
    color: var(--blanc-leger);
    background-color: var(--orange-principale);
    border: 2px solid var(--blanc-leger);
}
/********************
       FACTURES
*********************/
.factures section {
    background-color: var(--blanc);
    border-radius: 15px;
    padding: 0 1em 1em;
    width: 90%;
}

.factures p {
    text-align: left;
    border-bottom: var(--noir) solid 1px;
    border-spacing: 0.5em;
    margin-bottom: 1.5em;
}

.factures ul {
    inline-size: 90%;
}

.factures li {
    list-style: none;
    text-decoration: none;
}

.factures li > p {
    color: var(--noir);
}