/************************
       GENERALISATION
*************************/

.compte-front {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--noir);
    background: var(--blanc-leger);
}

/********************
        NAV
*********************/
.compte-front nav {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 1em;
    background-color: var(--violet-principal);
    border-radius: 15px;
    width: 15em;
    height: 100vh;
    margin-right: 1em;
}

.compte-front nav a {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;
    justify-content: center;

    text-align: center;
    background-color: var(--blanc-leger);
    color: var(--violet-principal);  
    margin: 1em 0.5em 1em;
    padding: 0.5em 1em;
    border: 2px solid var(--violet-principal);
    border-radius: 15px;
    height: 3em;
}

.compte-front nav a:last-child {
    margin-top: auto;
}

.compte-front nav a:hover {
    color: var(--blanc-leger);
    background-color: var(--violet-principal);
    border: 2px solid var(--blanc-leger);
}


/********************
    DETAILS COMPTE
*********************/
.compte-front section {
    background-color: var(--blanc);
    border-radius: 15px;
    padding: 0 1em 1em;
}

.compte-front section h3 {
    font-weight: var(--medium);
}

.compte-front section > h1 + article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compte-front table {
    width: 40em;
    border-spacing: 2em 0.5em;
}

.compte-front table tr {
    margin: 1em 0;
}

.compte-front tr > td {
    vertical-align: top; /* Alignement vertical en haut pour chaque cellule */
    width: 15em;
}

.compte-front table td + td {
    text-align: right;
    width: 28em;
    color: var(--violet-principal);
}

.compte-front td > div {
    text-align: justify; /* Justifie uniquement le contenu interne */
    display: inline-block;
    line-height: 1.3;
}


/********************
        BOUTON
*********************/
.compte-front main > section a {
    text-decoration: none;
    color: var(--blanc-leger);
    background-color: var(--violet-principal);
    border: 2px solid var(--violet-principal);
    border-radius: 15px;
    margin: 1em 0;
    padding: 0.2em 1em;
}

.compte-front main > section a:hover {
    color: var(--violet-principal);
    background-color: var(--blanc-leger);
    border: 2px solid var(--violet-principal);
}

.compte-front table + div {
    text-align: right;
}

.compte-front table + div > a {
    display: inline-block;
}