.back {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: var(--noir);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-width: 900px;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

.back header {
	background: var(--orange-principale);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	width: 100%;
	padding: 0 30px;
}

.logo {
	width: auto;
	height: 75px;
	margin: 0.5em 0;
}

.text-wrapper-17 {
	font-family: "Inter", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
	margin: 0 10px;
	margin-right: auto;
}

.text-wrapper-17 > a {
	font-family: "Inter", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
	margin: 0 10px;
	margin-right: auto;
}


.ICON-utilisateur {
	margin-left: 15px;
	width: auto;
	height: 60px;
	object-fit: cover;

}

.ICON-accueil {
	margin: 0 15px 0 50px;
	width: auto;
	height: 60px;
	object-fit: cover;
}

/* Footer principal */
/* Footer principal */
.back  footer {
	background: var(--orange-principale);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

/* Section supérieure avec le gradient */
.footer-top {
	width: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.footer-top-left {
	display: flex;
	flex-direction: column;
	align-items: end;
	padding-right: 20px;
	border-right: solid var(--blanc);
}

.footer-top-right {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.footer-logo {
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 20px;
}

.footer-title {
	font-family: 'Seymour One', sans-serif;
	font-size: 48px;
	color: white;
}

.footer-subtitle {
	font-family: 'SeoulNamsan', sans-serif;
	font-size: 48px;
	color: white;
	margin-left: 20px;
}

.footer-connect {
	font-family: 'SeoulNamsan', sans-serif;
	font-size: 32px;
	color: white;
	margin-bottom: 10px;
}

/* Section des icônes sociales */
.social-icons {
	display: flex;
	gap: 15px;
}

.social-icon {
	width: 73px;
	height: 73px;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Barre en bas du footer */
.back  .footer-bottom {
	background-color: white;
	border-radius: 15px;
	width: 100%;
	max-width: 1380px;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: var(--orange-principale);
	border: 1px solid rgba(0, 0, 0, 1);
}

.back  .footer-bottom>a {
	color: var(--orange-principale);
}

/* search component in header*/
.search-box {
	margin-top: 5px;
	width: fit-content;
	height: fit-content;
	position: relative;
}

.input-search {
	height: 60px;
	width: 50px;
	border-style: none;
	padding: 20px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: var(--transparent);
	padding-right: 40px;
	color: #fff;
}

.input-search::placeholder {
	color: var(--semi-trans);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}

.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}

.btn-search:focus~.input-search {
	width: 350px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid var(--semi-trans);
	transition: all 500ms;
}

.input-search:focus {
	width: 350px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid var(--semi-trans);
	transition: all 500ms;
}

.cherchero {
	height: 60px;
	width: 60px;
}


#offre, #modif, #annuler, #quitter {
    background-color: var(--blanc);
    display: none;
    border: 1px solid;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}

.close>button {
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border: none;
    padding: 5px 35px 5px 35px;
}

.close {
    display: flex;
    justify-content: space-around;
    border: none;
}

.back  .bouton1 {
    color: var(--orange-principale);
    background-color: var(--blanc);
}

.back  .bouton2 {
    background-color: var(--orange-principale);
    color: var(--blanc);
    box-shadow: 1px 1px 1px var(--gris-etoile);
    transition: box-shadow 0.3s ease; /* Ajout de la transition */
}

/* Animation lors du survol */
.bouton2:hover {
    box-shadow: 3px 4px 6px var(--gris-etoile); /* Augmente l'ombre lors du survol */
}