/************************
       GENERALISATION
*************************/

html {
    scroll-behavior: smooth;
}

header {
    text-decoration: none;
}

button {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: var(--noir);
    background: var(--blanc);
}

h1 {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: var(--orange-principale);
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--orange-principale);
}

.fond-blocs {
    background: var(--blanc);    
    margin: 30px 30px 0 30px;
    padding: 30px;}

a {
    color: var(--orange-principale);
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
    
header > div > a, header > div > a:hover {
    text-decoration: none;
}

.etoile {
    width: 50px;
    height: 50px;
}

.etoile_detail {
    width: 25px;
    height: 25px;
}

.double-blocs {
    display: flex;
}

.bordure {
    border-bottom: 3px solid var(--orange-principale);
}

/********************************
        BLOC PRÉSENTATION                
********************************/

    /******************************
            BOUTONS POP-UP                
    ******************************/
    .bouton-modifier {
        margin: 30px 30px 0 30px;
    }


    .bouton-modifier > button {
        color: var(--blanc);
        text-decoration: none;
        font-size: 30px;
        background-color: var(--orange-principale);
        border: 3px solid var(--blanc);
        padding: 10px 80px;
        border-radius: 15px;    }

    .bouton-modifier > button:hover {
        color: var(--orange-principale);
        background: var(--blanc);
        border-color: var(--orange-principale);
        transition: 0.3s ease-in-out;
    }

    #confirm {
        background: var(--blanc-leger);
        border: 3px solid var(--noir);
        color: var(--noir);
        font-size: 20px;
        display: none;
        border-radius: 15px;
        text-align: center;
        width: fit-content;
        padding: 10px;
        position: fixed;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        z-index: 1;
    }

    #final {
        background: var(--blanc-leger);
        border: 3px solid var(--noir);
        color: var(--noir);
        font-size: 32px;
        display: none;
        border-radius: 15px;
        text-align: center;
        width: fit-content;
        padding: 10px;
        position: fixed;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .close {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .close button:first-child {
        border: 1px solid;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        padding: 5px 15px;
        margin-bottom: 12px;
        background: var(--noir);
        color: var(--blanc-leger);
        font-size: 32px;
        width: fit-content;
    }

    #final button {
        border: 1px solid;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        padding: 5px 15px;
        margin-bottom: 12px;
        background: var(--noir);
        color: var(--blanc-leger);
        font-size: 32px;
        width: fit-content;
    }

    .close button:last-child {
        border: 1px solid;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        padding: 5px 60px;
        margin-bottom: 12px;
        background: var(--gris);
        color: var(--blanc-leger);
        font-size: 20px;
        width: fit-content;
    }

.bloc-presentation > div > p {
    font-size: 32px;
}

.information-offre {
    font-size: 32px;
    margin-top: 30px;
}

.display-ligne-espace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-ligne-espace > p {
    margin: 0;
}

.display-ligne {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.display-ligne > p {
    margin: 0 10px;
}

    /**********************************
            IMAGES PRÉSENTATION                
    **********************************/
 
    .carousel {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
    }

    .carousel-images {
        display: flex;
        transition: transform 0.5s ease-in-out;
        height: auto;
    }
      
    .carousel-images img {
        width: 100%;
        height: 900px;
        flex-shrink: 0;
    }

    .arrow-left, .arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .arrow-left > img, .arrow-right > img {
        background-color: var(--orange-principale);
        border-radius: 90px;
    } 

    .arrow-left {
        left: 20px;
    }
      
    .arrow-right {
        right: 20px;
    }
      

/**********************************
        PREMIER DOUBLE BLOC                               
**********************************/

    /***********************************
            BLOC CARACTÉRISTIQUE                       
    ***********************************/

    .liste-caracteristique {
        align-items: center;
    }

    .liste-caracteristique > li {
        color: var(--noir);
        border-left: 5px solid var(--orange-principale);
        font-size: 40px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        padding-left: 10px ;
    }

    .liste-caracteristique > li > img {
        min-width: 50px;
        max-width: 50px;
        height: auto;
        margin-right: 5px;
        border-radius: 5px; 
    }   

    .bloc-caracteristique {
        flex: 1.75; 
    }

    /****************************
            BLOC À PROPOS                               
    ****************************/

    .bloc-a-propos {
        flex: 2.5; 
        border-left: 3px solid var(--orange-principale);
    }

    .epingle {
        width: 20px;
        height: 20px;
    }

    .display-ligne-espace > button {
        font-size: 60px;
    }

    .display-ligne-espace > a, .fond-blocs > a {
        color: var(--blanc);
        text-decoration: none;
        font-size: 24px;
        background-color: var(--orange-principale);
        border: 3px solid var(--blanc);
        padding: 10px 80px;
        border-radius: 15px;
    }
    
    .display-ligne-espace > a:hover, .fond-blocs > a:hover {
        color: var(--orange-principale);
        background: var(--blanc);
        border-color: var(--orange-principale);
        transition: 0.3s ease-in-out;
    }

/***********************************
        DEUXIÈME DOUBLE BLOC                                       
***********************************/

    /***************************
            BLOC TARIFS                             
    ***************************/

    .bloc-tarif > button {
        color: var(--blanc);
        text-decoration: none;
        font-size: 24px;
        background-color: var(--orange-principale);
        border: 3px solid var(--blanc);
        padding: 10px 20px;
        border-radius: 15px;
    }

    .bloc-tarif > button:hover {
        color: var(--orange-principale);
        background: var(--blanc);
        border-color: var(--orange-principale);
        transition: 0.3s ease-in-out;
    }

    .bloc-tarif {
        flex: 2.5; 
    }

    .bloc-tarif > div {
        display: flex;
    }

    table {
        width: 80%;
        margin: 10px 0;
        border-collapse: separate;
        border-spacing: 9px;
    }

    td {
        padding: 20px;
        text-align: center;
        border: 3px solid var(--noir);  
        font-weight: 600;
    }

    /*****************************
            BLOC OUVERTURE                                       
    *****************************/

    .liste-ouverture {
        align-items: center;
    }

    .liste-ouverture > li {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .bloc-ouverture {
        flex: 1; 
        margin-left: 0;
    }

    .bloc-ouverture > ul > li {
        list-style: none;
    }

/**************************
        BLOCS CARTE                                                   
**************************/

.carte {
    width: 1000px; 
    height: 750px;
    margin: auto; 
}

/*************************
        BLOCS AVIS                                                   
*************************/

.fond-blocs-avis {
    background: var(--blanc);    
    margin: 30px 0;
    padding: 15px;
    border-radius: 15px;
    color: var(--noir);
    border: 3px solid var(--orange-principale);
}

.titre-avis {
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
}

.reponse {
    margin-left: 60px;
}

.indentation {
    padding-left: 3px;
}

.reponse > p {
    padding-left: 10px;
    margin-left: 75px;
    margin-top: 0;
}

.fond-blocs-avis > p {
    margin: 0 0 0 75px ;
}

.bordure-top {
    border-top: 3px solid var(--orange-principale);
}

.pouce {
    width: 35px;
    height: 35px;
}

.display-notation {
    display: flex;
    align-items: center;
}

.transparent {
    color: var(--transparent);
}

.display-notation > p {
    margin-left: 15px;
}

.display-notation > a {
    color: var(--orange-principale);
    text-decoration: none;
    margin-right: 15px;
}

/*************************
        NAVIGATION                                            
*************************/

.navigation {
    margin: 30px;
}

.navigation > button {
    background: var(--orange-principale);
    border: 3px solid var(--blanc);
    color: var(--blanc);
    padding: 10px 20px;
    text-align: center;
    font-size: 40px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.navigation > button:hover {
    background: var(--blanc);
    border-color: var(--orange-principale);
    color: var(--orange-principale);
    transition: 0.3s ease-in-out;
}

/*********************
        FOOTER                                            
*********************/

footer > div > a {
    text-decoration: none;
}

#carte {
    display: none;
}