/************************
       GENERALISATION
*************************/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--noir);
    background: var(--blanc-leger);

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--bold);
    color: var(--noir);
    margin: 0.5em 0.2em;
    text-align: center;
    font-size: 64pt;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--medium);
    font-size: 23pt;
    color: var(--noir);
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--medium);
    font-size: 20pt;
    color: var(--noir);
}


a {
    text-decoration: none;
    color: var(--blanc-leger);
    background-color: var(--orange-principale);
    border: none;
    border-radius: 15px;
}

a:hover {
    color: var(--orange-principale);
    background-color: var(--blanc-leger);
    border: 2px solid var(--orange-principale);
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

/********************
        NAV
*********************/

main > article {
    background-color: var(--orange-principale);
    flex-grow: 1;
    border-radius: 15px;
}

main > article h2 {
    background-color: var(--blanc-leger);
    color: var(--orange-principale);  
    margin: 0.5em;
}

main > article:first-child {
    margin-top: 1em;
}

.ici {
    font-weight: bold;
}

/********************
    DETAILS COMPTE
*********************/
section {
    background-color: var(--blanc);
    flex-grow: 3;
    border-radius: 15px;
}

section h3 {
    font-weight: var(--medium);
}

table td + td {
    color: var(--orange-principale);
}