/********************************************
    CHANGEMENT EN PLUS DE style_backCompte
*********************************************/
main {
    flex-direction: column;
    background-color: var(--blanc);
    border-radius: 15px;
    padding: 0 4em 1em;
    width: 50em;
}

input {
    text-align: center;
    color: var(--orange-principale);
    background-color: var(--blanc-leger);
    padding: 0.5em 2em;
    border-radius: 10px;
    border: 1px solid var(--blanc);
}

input::placeholder {
    color: var(--gris-etoile);
}


table + div input,
table + div a {
    text-decoration: none;
    color: var(--blanc-leger);
    background-color: var(--orange-principale);
    border: 2px solid var(--orange-principale);
    font-size: 12pt;
    border-radius: 15px;
    padding: 0.2em 1em;
    margin: 1em;
}

table + div input:hover,
table + div a:hover {
    color: var(--orange-principale);
    background-color: var(--blanc-leger);
    border: 2px solid var(--orange-principale);
}

/* Style de la popup */
#validerModifCompte, 
#annulerModifCompte, 
#popupRetourAccueil,
#popupRetourCompte {
    position: fixed;
    z-index: 11;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blanc-leger);
    padding: 0 1em;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Titre de la popup */
#validerModifCompte h3, 
#annulerModifCompte h3, 
#popupRetourAccueil h3,
#popupRetourCompte h3 {
    font-weight: var(--semi-bold);
    margin-bottom: 0;
    font-size: 24pt;
    color: var(--noir);
}

/* Texte de la popup */
#validerModifCompte p, 
#annulerModifCompte p, 
#popupRetourAccueil p,
#popupRetourCompte p {
    color: var(--noir);
    font-size: 14pt;
    margin-bottom: 20px;
}

/* Style des boutons */
#validerModifCompte button, 
#annulerModifCompte button, 
#popupRetourAccueil button,
#popupRetourCompte button {
    background-color: var(--orange-principale);
    border: 2px solid var(--orange-principale);
    color: var(--blanc-leger);
    font-weight: var(--bold);
    font-size: 12pt;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#validerModifCompte button:hover,
#annulerModifCompte button:hover,
#popupRetourAccueil button:hover,
#popupRetourCompte button:hover {
    color: var(--orange-principale);
    background-color: var(--blanc-leger);
    border: 2px solid var(--orange-principale);
}
