@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --noir: rgba(0, 0, 0, 1);
    --blanc: rgba(255, 255, 255, 1);
    --blanc-leger: rgba(236, 236, 236, 1);
    --beige: rgba(234, 226, 218, 1);
    --bleu: rgba(47, 89, 82, 1);
    --vert-principale: rgba(98, 107, 32, 1);
    --vert-secondaire: rgba(152, 166, 50, 1);
    --marron: rgba(191, 140, 44, 1);
    --orange-principale: rgba(217, 102, 54, 1);
    --orange-secondaire-1: rgba(217, 111, 50, 1);
    --orange-secondaire-2: rgba(242, 139, 48, 1);
    --fond-bouton: rgba(217, 217, 217, 0.73);
  
    --mobile-star-size: 30px;
    --like-size: 35px;
  
    --jaune-etoile: rgba(254, 194, 1, 1);
    --gris-etoile: rgba(128, 128, 128, 1);
    --gris: rgba(193, 192, 192, 1);
    --gradient-vert: linear-gradient(0.45turn, rgba(47, 89, 82, 1) 14%, rgba(98, 107, 32, 1) 59%, rgba(152, 166, 50, 1) 90%);
    --gradient-orange: linear-gradient(0.45turn,rgba(217, 102, 54, 1) 10%, rgba(217, 111, 50, 1) 23%, rgba(242, 139, 48, 1) 90%);
  }

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

/* Conteneur */
.connecter main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrer les éléments à l'intérieur du main */
    width: 100%;
}

/* Logo */
.connecter img {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 63px;
    max-height: 95px;
}

/* Titres */
.connecter h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

    color: var(--noir);

    margin: 0;
}

.connecter h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: var(--noir);

    margin: 0;
}

/* Lien */
.connecter a {
    color: var(--vert-principale);
    width: 100%;
    transform: translateX(25%);
}

.connecter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.connecter form label, 
.connecter form input[type="email"],
.connecter form input[type="password"],
.connecter form input[type="submit"],
.connecter form input[type="text"] {
    width: 50%; /* Conserver la largeur des éléments */
}

/* Label */
.connecter label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: var(--noir);

    margin: 0 0 5px 0;

    text-align: left;
    width: 50%;
}

/* Input */
.connecter input[type="email"],
.connecter input[type="password"],
.connecter form input[type="text"] {
    box-sizing: border-box;

    width: 715px;
    height: 56px;

    border: 1px solid var(--gris);
    border-radius: 12px;

    text-align: left;
    width: 50%;

    margin-top: 5px;
    margin-left: 5px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: var(--noir);

    padding-left: 1.5em;
}

/* Bouton */
.connecter input[type="submit"] {
    width: 50%;
    height: 73px;
    
    background: var(--gradient-vert);

    border-radius: 30px;
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--blanc-leger);

    transition: background 0.5s ease, color 0.5s ease;
}

section {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

article {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article label {
    margin-left: 5px !important;
}

/* Image affichage ou non du mot de passe */
section input {
    display: flex;
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(/images/frontOffice/icones/oeil-ferme.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    margin: 0;
}

section input:checked {
    width: 28px;
    height: 28px;
    background-image: url(/images/frontOffice/icones/oeil.png);
    margin-top: 1px;
}

/* Transition bouton */
.connecter button:hover,
.connecter input[type="submit"]:hover {
    background: var(--blanc-leger);
    color: var(--vert-principale);
}