.telephone-nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--violet-secondaire);
    transform: rotate(-3deg) scale(200%);
}

.nav-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 10% 30px 10%;
    z-index: 3;
}

.nav-content > img {
    width: 8%;
    height: 8%;
    padding: 10px;
    background-color: var(--violet-principal);
    -webkit-border-radius: 150px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius: 150px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-radius: 150px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

@media only screen and (max-width: 600px) {
    .nav-content > img {
        width: 15%;
        height: 15%;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .nav-content > img {
        width: 10%;
        height: 10%;
        
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 900px) {
    .telephone-nav {
        display: none;
    }
  } 