* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	background-color: var(--blanc-leger);
	color: var(--noir);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100vh;
	width: 100%;
	min-width: 900px;
	padding: 0;
	margin: 0;
}

header {
	background: var(--violet-principal);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	width: 100%;
	/* Chaque élément prend toute la largeur disponible */
	min-height: auto;
	/* La hauteur minimale dépend du contenu */
	box-shadow: 0px 10px 30px #000000bf;
	padding: 0 30px;
}

.logo {
	width: 72px;
	height: 105px;
}

.text-wrapper-17 {
	font-family: "Inter", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
	margin: 0 10px;
	margin-right: auto;
}


.ICON-utilisateur {
	margin-left: 15px;
	width: 53px;
	height: 60px;
	object-fit: cover;

}

.ICON-accueil {
	margin: 0 15px 0 50px;
	width: 65px;
	height: 60px;
	object-fit: cover;
}

/* Footer principal */
/* Footer principal */
footer {
	background: var(--violet-principal);
	width: 100%;
	/* Chaque élément prend toute la largeur disponible */
	min-height: auto;
	/* La hauteur minimale dépend du contenu */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

/* Section supérieure avec le gradient */
.footer-top {
	width: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.footer-top-left {
	display: flex;
	flex-direction: column;
	align-items: end;
	padding-right: 20px;
	border-right: solid var(--blanc);
}

.footer-top-right {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.footer-logo {
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 20px;
}

.footer-title {
	font-family: 'Seymour One', sans-serif;
	font-size: 48px;
	color: white;
}

.footer-subtitle {
	font-family: 'SeoulNamsan', sans-serif;
	font-size: 48px;
	color: white;
	margin-left: 20px;
}

.footer-connect {
	font-family: 'SeoulNamsan', sans-serif;
	font-size: 32px;
	color: white;
	margin-bottom: 10px;
}

/* Section des icônes sociales */
.social-icons {
	display: flex;
	gap: 15px;
}

.social-icon {
	width: 73px;
	height: 73px;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Barre en bas du footer */
.footer-bottom {
	background-color: white;
	border-radius: 15px;
	width: 100%;
	max-width: 1380px;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	border: 1px solid rgba(0, 0, 0, 1);
}

.footer-bottom>a {
	color: var(--violet-principal);
}

/* search component in header*/
.search-box {
	margin-top: 5px;
	width: fit-content;
	height: fit-content;
	position: relative;
}

.input-search {
	height: 60px;
	width: 50px;
	border-style: none;
	padding: 20px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: var(--transparent);
	padding-right: 40px;
	color: #fff;
}

.input-search::placeholder {
	color: var(--semi-trans);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}

.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}

.btn-search:focus~.input-search {
	width: 350px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid var(--semi-trans);
	transition: all 500ms;
}

.input-search:focus {
	width: 350px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid var(--semi-trans);
	transition: all 500ms;
}

.cherchero {
	height: 60px;
	width: 60px;
}