#labeldispo, #dispo, #labeladresse, #adresse, #cp, div[id = "options"], #labelcp{
  display: none;
}

h2 {
  width: 55%;
  text-align: center;
  margin: 20px auto 20px auto;
  border-radius: 15px;
  font-size: 48px;
}

h3 {
    padding-top: 5px;
    width: 55%;
    /* margin: 20px auto 20px auto; */
    border-radius: 15px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

label, input, p{
  font-size: 24px;
  margin:5px 5px 0 0;
  font-weight: 400;
}

p{
    color: var(--gris-etoile);
    text-align: center;
}

table{
  font-size: 24px;
}

.required{  /* asterisques en rouge*/
  color: red;
}


main {
    background-color: var(--blanc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
}




/***Inputs Textuels (avec url,...)***/

main input[type="text"], input[type="url"], input[type="number"], input[type="tel"], textarea{
    background-color: var(--blanc-leger);
    color: black;
    border: 0;
    border-radius: 10px;
    resize: vertical;
    height: 50px;
    font-style: normal;
    text-align: center;
    font-size: 24px;
}

input[name='tarif1'],input[name='tarif2'], input[name='tarif3'], input[name='tarif4']{
    width: 100px;
}

textarea{
  min-height: 150px;
  height: fit-content;
  word-wrap: break-word;
  padding: 5px;
  width: 100%;
  text-align: left;
  font-family: "Poppins"
}


/*HORAIRES*/
input[placeholder = "00"]{
  width: 50px;
}

::placeholder{   /*guidage*/
  font-style: italic;
  text-align: center;
  color: var(--gris-etoile);
}

/***Tableaux**/

.apropos table, .important table{
  width: 100%;
  display: inline-block;
}

/****INFORMATIONS IMPORTANTES****/

.important input[id="titre"], .important input[id="adresse"]{
  width: 100%;
}

.important td {
  padding: 5px;
}

.important td+td{
  width: 35%;
  padding-left: 5%;
}

.important table :nth-child(5) td + td + td{ /*"ville *" */
  width: 10%;
  padding-left: 0;
} 
.important img {
  max-width: 100px;
}

/***Selects***/

.custom-select-container {
  display: inline-block;
  position: relative;
  width: 75%;
}

.custom-select {
  appearance: none; /* Remove default select styling */
  background-color: var(--blanc-leger);
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 24px;
  width: 100%; 
  border-radius: 5px;
  color: var(--gris-etoile);
  cursor: pointer;
  
}

/* Adding a custom dropdown arrow */
.custom-select-container::after {
  content: '▼'; /* Add arrow symbol */
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--gris-etoile); /* Arrow color */
}

/* Optional: Hover effect for the dropdown */
/* .custom-select:hover {
  cursor: pointer;
  border-color: var(--gradient-orange);
  border: 10px solid var(--gradient-orange);
} *//*marche pô*/

/***Importer une image***/

/* .custom-file-input {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  border-radius: 15px;
  width: 170px;
  height: 170px;
  display: grid;
  place-items: center;
}

.upload-image {
  cursor: pointer; 
  width: 50px;
  height: auto; 
  height: auto;
}

/* Masquer le vrai input file */
/*#file-upload {
  position: absolute;
  opacity: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
} */




/****A PROPOS DE L'OFFRE****/
.apropos tr + td, .important tr+td{
  width: auto;
  padding: 5% 5px;
}

.apropos td + td{
    padding: 5px 0 5px 0;
    width: 75%;
}

.apropos textarea{
  width: 100%;
  min-height: 150px;
  height: fit-content;
}

input[type="url"], input[type="tel"]{
  width: 65%;
}

/****Tarif****/



/* #options{
  display: none;
} */




/***Boutons***/
input::file-selector-button{
  border: 0;
  border-radius: 10px;
  background: var(--gradient-orange);
  color: var(--blanc);
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

input::file-selector-button:hover{
  background: #fff;
  color: var(--orange-principale);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}






/****AVANT LE FOOTER****/

.bt_cree{
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.valider{
  background: var(--gradient-orange);
  color: var(--blanc);
  padding: 10px 20px;
  border: 0;
  text-align: center;
  font-size: 40px;
  width: 517px;
  height: 97px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-left: 0;
}

.valider:hover{
  background: var(--blanc-leger);
  color: var(--orange-principale);
  transition: 0.3s ease-in-out;
}

.valider+a{
  width: 50px;
  height: 50px;
  background: var(--gradient-orange);
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}

.valider + a :hover{
  background: var(--blanc-leger);
  content: url("../images/backOffice/icones/fleche-vers-le-haut-orange.png");
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.valider+a img {
  width: 90%;
  height: 90%;
  transition: 0.3s ease-in-out; /* Ajoute une transition fluide au changement d'image */
}








