/************************
    GENERALISATION
*************************/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--noir);
    background: var(--blanc-leger);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--blanc-leger);
    background: var(--violet-principal);
    border-radius: 15px;
    margin: 0.5em 0.2em;
    text-align: center;
    font-size: 55pt;
    padding-left: 10px;
    padding-right: 10px;
}

h1:hover {
    color: var(--violet-principal);
    background-color: var(--blanc-leger);
    border: 2px var(--violet-principal) solid;
}

main {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: "Poppins", sans-serif;
    color: var(--violet-principal);
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: left;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/**********************************
        IMAGES PRÉSENTATION                
**********************************/

.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: auto;
}
   
.carousel-images img {
    width: 1226px;
    height: 396px;
    flex-shrink: 0;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.arrow-left > img, .arrow-right > img {
    background-color: var(--violet-principal);
    border-radius: 90px;
} 

.arrow-left {
    left: 20px;
}
      
.arrow-right {
    right: 20px;
}