/************************
       GENERALISATION
*************************/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--noir);
    background: var(--blanc-leger);

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--bold);
    color: var(--noir);
    margin: 0.5em 0.2em;
    text-align: center;
    font-size: 40pt;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--medium);
    font-size: 23pt;
    color: var(--noir);
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: var(--medium);
    font-size: 20pt;
    color: var(--noir);
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 1em;
}

/********************
        NAV
*********************/
main > article {
    display: flex;
    flex-direction: column;

    background-color: var(--orange-principale);
    border-radius: 15px;
    min-width: 15em;
    margin-right: 1em;
}

main > article a {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;

    text-align: center;
    background-color: var(--blanc-leger);
    color: var(--orange-principale);  
    margin: 1em 0.5em 1em;
    padding: 0.5em 1em;
    border: 2px solid var(--orange-principale);
    border-radius: 15px;
    height: 3em;
}

main > article a:hover {
    color: var(--blanc-leger);
    background-color: var(--orange-principale);
    border: 2px solid var(--blanc-leger);
}

.ici {
    font-weight: bold;
}

/********************
    DETAILS COMPTE
*********************/
section {
    background-color: var(--blanc);
    border-radius: 15px;
}

section h3 {
    font-weight: var(--medium);
}

section > h1 +article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table td + td {
    color: var(--orange-principale);
}

main > section a {
    text-decoration: none;
    color: var(--blanc-leger);
    background-color: var(--orange-principale);
    border: none;
    border-radius: 15px;
}

main > section a:hover {
    color: var(--orange-principale);
    background-color: var(--blanc-leger);
    border: 2px solid var(--orange-principale);
}